.todo-item {
    color : #222;
    font-size : 1.2rem;
    font-weight : 500;
    text-transform : capitalize;
    margin : 0.5rem 0;
    background : #FBFBFB;
    padding : 0.5rem 1rem;
    border-radius : 0.5rem;
    transition : all 0.3s linear;
    display: flex;
    justify-content: space-between;
}

.todobutton {
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #D3884F;
    color: #222;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}


.todobutton:hover {
    background-color: rgb(255, 179, 121);
}

.checkbox {
    accent-color: #D3884F;
}

.text {
    padding: 1rem;
}

.edit {
    margin-right: 0.5rem;
}

.buttons {
    display: flex;
}

@media screen and (max-width:600px) {
    .todo-item {
        font-size: 1rem;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .todobutton {
        margin: 10px;
        padding: 1rem 1rem;
    }

}