.todo-items {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 20rem;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }